body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #D5EBC2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero {
    position: relative;
    background-color: #D5EBC2;
    color: #556B45;
    text-align: center;
    padding: 50px 20px 0px 20px;
    margin-bottom: 0;
}

.btn-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #556B45;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-voltar:hover {
    background-color: #6B845C;
}

.logo {
    max-width: 300px; 
    min-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto; 
}

.container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group-inline {
    display: flex;
    gap: 10px;
}

.input-group-inline .input-group {
    flex: 1;
}

.image-selection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.image-selection img {
    width: 60px;
    height: 60px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.image-selection img.selected {
    border-color: #4caf50;
}

textarea {
    resize: none;
    height: 80px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.button-back {
    background-color: #ccc;
    color: #333;
}

.button-back:hover {
    background-color: #bbb;
}

.sent-button {
    margin: 50px 0px;
    
}

.sent-button button {
    padding: 15px;
    background-color: #A7D676;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.sent-button button:hover {
    transition: 0.5s;
    background-color: #8BDA63;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #4caf50;
}

/* Rodapé */
footer {
    background-color: #556B45;
    color: #D5EBC2;
    text-align: center;
    padding: 40px 20px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #A7D676;
    text-decoration: none;
    font-size: 1rem;
}
