body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #D5EBC2;
}

.hero {
    position: relative;
    background-color: #D5EBC2;
    color: #556B45;
    text-align: center;
    padding: 50px 20px 0px 20px;
    margin-bottom: 0;
}
.logo {
    max-width: 300px; 
    min-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto; 
}
.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.pet-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.pet-details {
    margin-top: 20px;
}
.back-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #556B45;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.back-button:hover {
    background-color: #6B845C;
}