body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #D5EBC2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hero {
    position: relative;
    background-color: #D5EBC2;
    color: #556B45;
    text-align: center;
    padding: 50px 20px 0px 20px;
    margin-bottom: 0;
}
.logo {
    max-width: 300px; 
    min-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto; 
}
.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.pet-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.pet-details {
    margin-top: 20px;
}
.back-button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #556B45;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.back-button:hover {
    background-color: #6B845C;
}

/* Rodapé */
footer {
    background-color: #556B45;
    color: #D5EBC2;
    text-align: center;
    padding: 40px 20px;
}

footer p {
    margin-bottom: 10px;
}
