/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    background-color: #D5EBC2;
    color: #556B45;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 3rem;
}

.logo {
    max-width: 300px; /* Tamanho máximo (ajuste para o desejado) */
    min-width: 100px; /* Tamanho mínimo para dispositivos pequenos */
    width: 100%; /* Responsivo */
    height: auto; /* Mantém a proporção */
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Menu styles */
.menu {
    background-color: #f5f5f5;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permite rolagem horizontal */
    white-space: nowrap; /* Impede a quebra de linha */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex; /* Mantém os itens em linha */
    gap: 20px;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    color: #556B45;
    transition: color 0.3s ease;
    padding: 10px 15px; /* Dá um pouco mais de área clicável */
}

.menu a:hover {
    color: #8BDA63;
}

/* Ajustes para dispositivos pequenos */
@media (max-width: 768px) {
    .menu ul {
        gap: 15px; /* Reduz o espaço entre os itens */
    }

    .menu a {
        font-size: 14px; /* Ajusta o tamanho da fonte */
    }
}

/* Seções Intermediárias */
.intermediary-section {
    background-color: #88B961;
    color: #D5EBC2;
    padding: 60px 100px;
    text-align: center;
}

.intermediary-section h2 {
    margin-bottom: 20px;
}

.intermediary-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0 auto; /* Garante que os parágrafos fiquem centralizados */
    max-width: 800px; /* Define uma largura máxima para o texto */
}

/* Rodapé */
footer {
    background-color: #556B45;
    color: #D5EBC2;
    text-align: center;
    padding: 40px 20px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #A7D676;
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover {
    color: #F6A589;
}

